<nav id="sidebar" class="sidebar js-sidebar">
  <div class="sidebar-content js-simplebar">
    <a class="sidebar-brand">
      <span class="align-middle">HR</span>
    </a>
    <ul class="sidebar-nav">
      <li class="sidebar-header">Pages</li>
      <li class="sidebar-item active">
        <a class="sidebar-link" routerLink="/home" >
          <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Home</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" routerLink="/profile">
          <i class="align-middle" data-feather="user"></i> <span class="align-middle">Profile</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" routerLink="/add-user">
          <i class="align-middle" data-feather="user"></i> <span class="align-middle">Add New User</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" routerLink="/user-list">
          <i class="align-middle" data-feather="user"></i> <span class="align-middle">User List</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" routerLink="/demandConge">
          <i class="align-middle" data-feather="user"></i> <span class="align-middle">Demand Conge</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" routerLink="/list-conge">
          <i class="align-middle" data-feather="user"></i> <span class="align-middle">Demand Conge List</span>
        </a>
      </li>
<!--      <li class="sidebar-item">-->
<!--        <a class="sidebar-link" routerLink="/user-conge-list">-->
<!--          <i class="align-middle" data-feather="user"></i> <span class="align-middle">My Demand Conge List</span>-->
<!--        </a>-->
<!--      </li>-->
      <li class="sidebar-item">
        <a class="sidebar-link" routerLink="/work-certificate">
          <i class="align-middle" data-feather="user"></i> <span class="align-middle">Add Work Certificate</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" routerLink="/list-Work-certificate">
          <i class="align-middle" data-feather="user"></i> <span class="align-middle">List Work Certificate</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
