<main class="content">
  <h2>Demander un Congé</h2>
  <form (ngSubmit)="onSubmit()" #demandeCongeForm="ngForm">
    <div class="mb-3">
      <label for="dateDebut" class="form-label">Date Début</label>
      <input type="date" id="dateDebut" name="dateDebut" class="form-control" [(ngModel)]="newDemande.dateDebut" (ngModelChange)="validateDates()" [min]="minDate" required>
    </div>
    <div class="mb-3">
      <label for="dateFin" class="form-label">Date Fin</label>
      <input type="date" id="dateFin" name="dateFin" class="form-control" [(ngModel)]="newDemande.dateFin" (ngModelChange)="validateDates()" [min]="minDate" required>
    </div>
    <div class="mb-3">
      <label for="raison" class="form-label">Raison</label>
      <input type="text" id="raison" name="raison" class="form-control" [(ngModel)]="newDemande.raison" required>
    </div>
    <div class="mb-3">
      <label for="type" class="form-label">Type</label>
      <input type="text" id="type" name="type" class="form-control" [(ngModel)]="newDemande.type" required>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="dateError">Soumettre</button>
  </form>
</main>
